/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* ----- REPLACE STRING ----- */
/* ------ GAMEBOY COLOR PALETTE MAKER ------ */
/* ------ GAMEBOY DARK HUE MAKER -------- */
/* ------ GAMEBOY LIGHT HUE MAKER -------- */
/* ------ FULL STEP COLOR SWAPPER ------ */
/* ------- SIMPLE GRADIENT ------- */
:root {
  --g1: rgb(98, 0, 234);
  --g2: rgb(236, 64, 122);
  --g3: rgb(253, 216, 53);
}

.wrapper {
  background-color: #212121;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bgwrap {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
  pointer-events: none;
  user-select: none;
}

#bg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.05;
  filter: blur(5px);
  transition: 500ms;
}
#bg.loaded {
  opacity: 1;
  filter: blur(0px);
}

.searchbar {
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.searchbar input {
  background-color: rgba(0, 0, 0, 0.506);
  backdrop-filter: blur(3px);
  border: none;
  border-radius: 8px 0 0 8px;
  border: 2px solid rgba(255, 255, 255, 0.153);
  border-right: none;
  width: 10vw;
  min-width: fit-content;
  padding: 0 0 0 0.5rem;
  margin: 0;
  color: rgb(185, 185, 185);
}
.searchbar input:focus {
  outline: none;
}
.searchbar .submit {
  border: 2px solid rgba(255, 255, 255, 0.153);
  border-left: none;
  background: rgba(0, 0, 0, 0.647);
  backdrop-filter: blur(3px);
  color: rgb(185, 185, 185);
  border-radius: 0 8px 8px 0;
  padding: 0 0.2rem;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.searchbar .submit svg {
  fill: rgb(185, 185, 185);
  height: 80%;
}

svg {
  height: 2rem;
  width: 2rem;
}

.toggle {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.toggle input {
  background-color: rgba(0, 0, 0, 0.506);
  backdrop-filter: blur(3px);
  border: none;
  border-top: 2px solid rgba(255, 255, 255, 0.153);
  width: 10vw;
  min-width: fit-content;
  padding: 0 0 0 0.5rem;
  margin: 0;
  color: rgb(185, 185, 185);
}
.toggle input:focus {
  outline: none;
}
.toggle input::placeholder {
  opacity: 0.8;
  color: rgba(255, 255, 255, 0.193);
}
.toggle .button {
  border: none;
  border-top: 2px solid rgba(255, 255, 255, 0.153);
  border-right: 2px solid rgba(255, 255, 255, 0.153);
  background: rgba(0, 0, 0, 0.647);
  backdrop-filter: blur(3px);
  color: rgb(185, 185, 185);
  border-radius: 0 8px 0 0;
  padding: 0 0.2rem;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.toggle .button svg {
  fill: rgb(185, 185, 185);
  height: 80%;
}
.toggle .button.clicked svg {
  animation: 500ms cubic-bezier(0.08, 0.84, 0.25, 0.92) rotate infinite;
}

.button,
.submit {
  transition: 200ms;
}

.button:hover,
.submit:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

button.clicked * {
  display: none;
}

#eSix {
  --border: #262a92;
  --g1: rgb(115, 149, 181);
  --g2: rgb(57, 61, 136);
  --g3: rgb(110, 76, 129);
  fill: #1da1f2;
}

#twitter {
  --border: #1da1f2;
  --g1: rgb(0, 211, 234);
  --g2: rgb(181, 64, 236);
  --g3: rgb(253, 53, 96);
  fill: #1da1f2;
}

#google {
  --border: #ea4335;
  --g1: rgb(0, 234, 62);
  --g2: rgb(224, 236, 64);
  --g3: rgb(253, 53, 53);
  fill: #1da1f2;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 720deg;
  }
}

/*# sourceMappingURL=index.css.map */
